.navigation {
    &__checkbox {
        display: none;
    }

    &__button {
        // location
        position: fixed;
        top: 6rem;
        right: 6rem;
        z-index: 2000;

        // physical properties
        height: 7rem;
        width: 7rem;
        background-color: $color-white;
        border-radius: 50%;
        box-shadow: 0 1rem 3rem rgba($color-black, 0.1);

        text-align: center;
        cursor: pointer;

        // Adjustments for tablet-portrait
        @include respond(tablet-portrait) {
            top: 3rem;
            right: 3rem;
        }
    }

     /* HAMBURGER MENU ICON */
     &__icon {
        position: relative;
        margin-top: 3.5rem;

        /* 
            Using the psuedo-element ::before will create content 
            at the starting tag and ::after at the end of the 
            tag.
        */

        // Physical Attributes
        &,
        &::before,
        &::after {
            width: 3rem;
            height: 2px;
            background-color: $color-grey-dark;
            display: inline-block;
            transition: all 0.3s;
        }

        // Location
        &::before,
        &::after {
            content: "";
            position: absolute; // within the button
            left: 0;
        }

        // Vertical Location for before and after
        &::before {top: -0.8rem;}
        &::after {top: 0.8rem;}
    }

    // Hover over icon vertical location ::before
    &__button:hover &__icon::before {
        top: -1rem;
    }

    // Hover over icon vertical location ::after
    &__button:hover &__icon::after {
        top: 1rem;
    }

}