.navigation {
    /* NAVIGATION CHECKBOX */
    &__checkbox {
        display: none;
    }

    /* NAVIGATION BUTTON */
    &__button {
        // Location
        position: fixed;
        top: 6rem;
        right: 6rem;
        z-index: 2000;

        // Physical Properties
        height: 7rem;
        width: 7rem;
        background-color: $color-white;
        border-radius: 50%;
        box-shadow: 0 1rem 3rem rgba($color-black, 0.1);

        text-align: center;
        cursor: pointer;

        // Adjustments for tablet-portrait
        @include respond(tablet-portrait) {
            top: 3rem;
            right: 3rem;
        }
    }
    
        /* ICON - HAMBURGER STYLE */
        &__icon {
            position: relative;
            margin-top: 3.5rem;

            /* 
                Using the psuedo-element ::before will create content 
                at the starting tag and ::after at the end of the 
                tag.
            */

            // Physical Properties
            &,
            &::before,
            &::after {
                width: 3rem;
                height: 2px;
                background-color: $color-grey-dark;
                display: inline-block;
                transition: all 0.3s;
            }

            // Location
            &::before,
            &::after {
                content: "";
                position: absolute; // within the button
                left: 0;
            }

            // Vertical Location for before and after
            &::before {top: -0.8rem;}
            &::after {top: 0.8rem;}
        }

        // Hover over icon vertical location ::before
        &__button:hover &__icon::before {
            top: -1rem;
        }
    
        // Hover over icon vertical location ::after
        &__button:hover &__icon::after {
            top: 1rem;
        }
    
        /* HAMBURGER MENU ICON - CHECKED */
        // After the __checkbox is checked, select the first element of __button 
        // after __checkbox with the child __icon.
        // This icon bar will be transparent
        &__checkbox:checked + &__button &__icon {
            background-color: transparent;
        }
    
        // Rotate ::before icon bar
        &__checkbox:checked + &__button &__icon::before {
            top: 0;
            transform: rotateZ(135deg);
        }
        
        // Rotate ::after icon bar
        &__checkbox:checked + &__button &__icon::after {
            top: 0;
            transform: rotateZ(-135deg);
        }
    
    /* NAVIGATION BACKGROUND */
    &__background {
        // Physical Properties
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        background-image: radial-gradient($color-primary-light, $color-primary-dark);

        // Location
        position: fixed; // removed default document flow, relative to initial container 
        top: 6.5rem;
        right: 6.5rem;
        z-index: 1000;

        // Transition Effects
        transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);

        // Adjustments for tablet-portrait
        @include respond(tablet-portrait) {
            // Physical Properties
            height: 5rem;
            width: 5rem;

            // Location
            top: 4rem;
            right: 4rem;
        }
    }

        // Background will expand after checkbox is checked
        &__checkbox:checked ~ &__background {
            transform: scale(80);
        }

    /* NAVIGATION Nav -> List -> Link */
    // links are hidden by default
    &__nav {
        // Physical Properties
        height: 100vh;
        width: 0;
        opacity: 0;

        // Location
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1500;

        // Effects
        transition: all 0.8s cubic-bezier(0.62, -0.04, 0.21, 1.21);
    }

    // Don't hide navigation after input is checked
    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100%;
    }

        &__list {
            // Physical Properties
            width: 100%;
            list-style: none;
            
            // Location
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;

            // Adjustments for tablet-portrait
            @include respond(tablet-portrait) {
                top: 45%;
            }
        }

            &__item {
                margin: 1rem;
            }
            
                &__link {
                    // Default Link State (link, visited, hover, active)
                    &:link,
                    &:visited {
                        // Link's Container
                        display: inline-block;
                        padding: 1rem, 2rem;
                        background-image: linear-gradient(120deg, 
                                                          transparent 0%, /* start at left */
                                                          transparent 50%, /* ends to right */
                                                          $color-white 50%);
                        background-size: 230%;

                        // Link's Text Physical Properties
                        color: $color-white;
                        font-size: 3rem;
                        font-weight: 300;
                        text-decoration: none;
                        text-transform: uppercase;

                        // Effects
                        transition: all 0.4s;

                        span {
                            display: inline-block;
                            margin-right: 1.5rem;
                        }
                    }

                    &:hover,
                    &:active {
                        background-position: 100%;
                        color: $color-primary-dark;
                        transform: translateX(1rem);
                    }
                }
}