.navigation {

    /* NAVIGATION CHECKBOX */
    &__checkbox {
        display: none;
    }

    /* NAVIGATION BUTTON */
    &__button {

        // Physical Properties
        height: 7rem; // font size of the root element (16px)
        width: 7rem;
        border-radius: 50%;
        background-color: $color-ghostwhite;
        box-shadow: 0 1rem 3rem rgba($color-black, 0.1);

        // Location
        position: fixed;
        top: 6rem;
        right: 6rem;
        z-index: 2000;

        text-align: center;
        cursor: pointer;

        // Adjustments for tablet-portrait
        @include respond(tablet-portrait) {
            top: 3rem;
            right: 3rem;
        }

    }
    
        /* NAVIGATION BUTTON ICON */
        &__icon {

            // Location
            position: relative;
            margin-top: 3.5rem;

            // Physical Properites (before, original, after)
            &,
            &::before,
            &::after {
                width: 3rem;
                height: 2px;
                background-color: $color-black;
                display: inline-block;
                transition: all 0.3s;
            }

            &::before,
            &::after {
                content: "";
                position: absolute;
                left: 0;
            }

            &::before {top: -0.8rem}
            &::after {top: 0.8rem}
            
        }

        /* HOVERING NAVIGATION BUTTON */
        &__button:hover &__icon::before {
            top: -1rem;
        }

        &__button:hover &__icon::after {
            top: 1rem;
        }

        /* HAMBURGER MENU ICON - CHECKED */
        // After __checkbox is checked, selects the first element of __button
        // after __checkbox with the child __icon.
        // This icon bar will be transparent.
        &__checkbox:checked + &__button &__icon {
            background-color: transparent;
        }

        // Rotate ::before icon bar
        &__checkbox:checked + &__button &__icon::before {
            top: 0;
            transform: rotateZ(135deg);
        }

        // Rotate ::after icon bar
        &__checkbox:checked + &__button &__icon::after {
            top: 0;
            transform: rotateZ(-135deg);
        }

    /* NAVIGATION BACKGROUND */
    &__background {
        
        // Physical Properties
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        background-image: radial-gradient($color-primary-light, $color-primary-dark);

        // Location
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        z-index: 1000;
        
        // Transition Effects
        transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);

        // Adjustments for tablet-portrait
        @include respond(tablet-portrait) {
            // Physical Properties
            height: 5rem;
            width: 5rem;

            // Location
            top: 4rem;
            right: 4rem;
        }

    }

        // For all __background in __checkbox:checked
        // Navigation background expands after checkbox is checked.
        &__checkbox:checked ~ &__background {
            transform: scale(80);
        }

}