// VARIABLES

$color-white: #fff;
$color-ghostwhite: ghostwhite;
$color-black: black;

$color-primary: #c12c2c;
// $color-primary: #C3272B;
$color-primary-light: #F2666C;
$color-primary-dark: #8F1D21;